@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  
    default: true;
    --color-primary: blue;
    --color-secondary: teal;
}
:root {
    --my-color: #fff;
    /* or any other variables/style */
}

[data-theme='dark'] {
    --my-color: #000;
}

[data-theme='pink'] {
    --my-color:linear-gradient(to bottom, #373b44, #4286f4);;
       
 
    --color-primary: #03fcd2;
        --color-secondary: #162456;

}
body {
    background-color: var(--my-color);
    color: white;
    background: #9B0498;
    background: conic-gradient(from 300deg, #6d436c, #3A3F69);
}